<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zheteng123.jersey.mapper.ApplyForMemberMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.zheteng123.jersey.pojo.ApplyForMember">
        <result column="id" property="id"/>
        <result column="store_id" property="storeId"/>
        <result column="user_id" property="userId"/>
        <result column="status" property="status"/>
        <result column="time" property="time"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        store_id,
        user_id,
        status,
        time
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO apply_for_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.storeId != 0"> store_id, </if>
            <if test="pojo.userId != 0"> user_id, </if>
            <if test="pojo.status != 0"> status, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.storeId != 0"> #{pojo.storeId}, </if>
            <if test="pojo.userId != 0"> #{pojo.userId}, </if>
            <if test="pojo.status != 0"> #{pojo.status}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO apply_for_member(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.storeId},
            #{pojo.userId},
            #{pojo.status},
            #{pojo.time}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE apply_for_member
        <set>
            <if test="pojo.id != 0"> id = #{pojo.id}, </if>
            <if test="pojo.storeId != 0"> store_id = #{pojo.storeId}, </if>
            <if test="pojo.userId != 0"> user_id = #{pojo.userId}, </if>
            <if test="pojo.status != 0"> status = #{pojo.status}, </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM apply_for_member
        <where>
            <if test="pojo.id != 0 and pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.storeId != 0 and pojo.storeId != null"> AND store_id = #{pojo.storeId} </if>
            <if test="pojo.userId != 0 and pojo.userId != null"> AND user_id = #{pojo.userId} </if>
        </where>
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM apply_for_member where user_id = #{pojo.userId} and store_id = #{pojo.storeId}
    </delete>
</mapper>
