<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zheteng123.jersey.mapper.StoreWithPrefMapper">

    <resultMap type="com.zheteng123.jersey.pojo.StoreWithPref" id="StoreWithPrefResultMap">
        <id column="id" property="id"/>
        <result column="owner_name" property="owner_name"/>
        <result column="owner_telephone" property="owner_telephone"/>
        <result column="owner_password" property="owner_password"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="description" property="description"/>
        <result column="category" property="category"/>
        <result column="address_province" property="address_province"/>
        <result column="address_city" property="address_city"/>
        <result column="address_district" property="address_district"/>
        <result column="address_street" property="address_street"/>
        <result column="coord_long" property="coord_long"/>
        <result column="coord_lat" property="coord_lat"/>
        <result column="service_type" property="service_type"/>
        <result column="picture" property="picture"/>
        <result column="restrain" property="restrain"/>

        <association property="preferential" javaType="com.zheteng123.jersey.pojo.Preferential"
            select="com.zheteng123.jersey.mapper.PreferentialMapper.selectByStoreId" column="id">
        </association>
    </resultMap>

    <sql id="user_need_column">
        `id`,
        `name`,
        `phone`,
        `description`,
        `category`,
        `address_province`,
        `address_city`,
        `address_district`,
        `address_street`,
        `address`,
        `coord_long`,
        `coord_lat`,
        `service_type`,
        `picture`,
        `restrain`
    </sql>

    <select id="selectAllLazyLoading" resultMap="StoreWithPrefResultMap">
        SELECT <include refid="user_need_column"/>
        FROM store
    </select>

    <select id="selectByCategoryLazyLoading" resultMap="StoreWithPrefResultMap">
        SELECT <include refid="user_need_column"/>
        FROM store
        WHERE category = #{value}
    </select>

    <select id="selectByNameLazyLoading" resultMap="StoreWithPrefResultMap">
        SELECT <include refid="user_need_column"/>
        FROM store
        WHERE name like CONCAT('%',#{value},'%')
    </select>

    <select id="selectStoreSearchCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM store
        WHERE name like CONCAT('%',#{value},'%')
    </select>


    <select id="selectStoreCategoryCount"  parameterType="java.lang.String" resultType="java.lang.Integer" >
        SELECT COUNT(*)
        FROM store WHERE category = #{value}
    </select>

    <select id="selectStoreCount"  resultType="java.lang.Integer" >
        SELECT COUNT(*)
        FROM store
    </select>

    <select id="selectStoreCategoryByPagenow" parameterType="com.zheteng123.jersey.pojo.StoreSort" resultMap="StoreWithPrefResultMap">
        SELECT <include refid="user_need_column"/>
        FROM store WHERE ( category= #{category}) LIMIT  #{pagenow} ,10
    </select>


    <select id="selectStoreSearchByPagenow" parameterType="com.zheteng123.jersey.pojo.StoreSort" resultMap="StoreWithPrefResultMap">
        SELECT <include refid="user_need_column"/>
        FROM store
        WHERE name like CONCAT('%',#{category},'%')
        LIMIT #{pagenow},10
    </select>


    <select id="selectStoreSortByPagenow" resultMap="StoreWithPrefResultMap">
        SELECT <include refid="user_need_column"/>
        FROM store WHERE
        category in(
        <foreach collection="storeSorts" item="storeSort" index="index" separator=",">
            #{storeSort.category}
        </foreach>
        )
        LIMIT #{0},10
    </select>

    <select id="selectStoreSortCount" parameterType="com.zheteng123.jersey.pojo.StoreSort" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM store WHERE
        category in(
        <foreach collection="storeSorts" item="storeSort" index="index" separator=",">
            #{storeSort.category}
        </foreach>
        )

    </select>

    <select id="selectByPrimaryKeyLazyLoading" resultMap="StoreWithPrefResultMap">
        SELECT <include refid="user_need_column"/>
        FROM store
        WHERE id = #{value}
    </select>


</mapper>